/*icon source: https://fontawesome.com */
/*shadow source: https://www.cssscript.com/elegant-box-shadows */

@font-face {
    font-family: 'ON-IGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	min-height: 100%;
}

body {
    font-family: 'ON-IGothic';
    font-weight: 300;
    font-size: 9pt;
    overflow: hidden;
    background-color: #e3e3e3;
    color: rgb(90, 90, 90);
}

#content {
    position: absolute;
    overflow: auto;
    width: 485px;
    height: 80%;
    max-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background: #e3e3e3;
    box-shadow:  30px 30px 60px #c1c1c1, 
                     -30px -30px 60px #ffffff;
}

.youtubevideowrapperdiv iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -98;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

/*다운로드 콘텐츠*/
#download-content {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0px;
    text-align: center;
    vertical-align: middle;
}

.download-button {
    font-family: ON-IGothic;
    width: 165px;
    height: 40px;
    color: rgb(73, 73, 73);
    border: none;
    pointer-events: none;
    border-radius: 50px;
    background: #e3e3e3;
    box-shadow:  10px 10px 20px rgba(193, 193, 193), 
                     -10px -10px 20px rgba(255, 255, 255);
    outline: none;
    transition: all 0.1s ease-in-out;
}

.download-button:hover {
    opacity: .3;
    box-shadow:  10px 10px 20px rgba(193, 193, 193, .5), 
                     -10px -10px 20px rgba(255, 255, 255, .5);
    cursor: pointer;
}

.download-button:active {
    box-shadow:  inset 10px 10px 20px rgba(193, 193, 193), 
                       inset -10px -10px 20px rgba(255, 255, 255);
}

.download-button:enabled {
    opacity: 1;
}

.download-button:disabled {
    box-shadow:  inset 10px 10px 20px rgba(193, 193, 193), 
                       inset -10px -10px 20px rgba(255, 255, 255);
    opacity: .5;
}

form {
    margin-left: 20px;
}

p {
    font-weight: 200;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

a {
    color: rgb(90, 90, 90);
    font-weight: 400;
}

i {
    padding-right: 5px; 
    padding-top: 3px;
    padding-bottom: 3px;
}

/*Detail*/
details {
    margin-left: 20px;
}

summary {
    outline: none;
}

details > summary::-webkit-details-marker {
    display: none
}

/*Author*/
#author {
    font-weight: 200;
    position: absolute;
    top: 95%;
    left: 4%;
    transform: translate(-50%, -50%);
	color: rgba(0, 0, 0, 0.5);
    opacity: .5;
    transition: .5s;
}

#author:hover {
    opacity: 0;
    transition: .5s;
}

/*강조*/
.header {
    margin-top: 50px;
    color: rgb(80, 80, 80);
    font-weight: 400;
    font-size: 12pt;
}

.caution {
    margin-top: 25px;
    color: rgb(80, 80, 80);
    font-weight: 400;
    font-size: 12pt;
}

.span-caution {
    color: rgb(80, 80, 80);
    font-weight: 400;
}

.span-info {
    color: rgb(37, 37, 37);
    font-weight: 400;
}

/*기능*/
.no-drag {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

/*모바일 콘텐츠*/
.mobile-content {
    margin: 0px;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*작은화면 콘텐츠*/
.small-screen-content {
    visibility: hidden;
}

/*인터넷 익스플로러 콘텐츠*/
.ie-content {
	visibility: hidden;
}

/*Alert*/
.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-button {
    padding: 7px 19px;
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

/*스크롤바*/
/* total width */

.scrollbar::-webkit-scrollbar {
    background-color:rgba(0, 0, 0, 0.0);
    width:8px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0);
}
.scrollbar::-webkit-scrollbar-track:hover {
    background-color:rgba(0, 0, 0, 0.0);
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:8px;
    border:5px solid rgba(0, 0, 0, 0.0);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid rgba(0, 0, 0, 0.0);
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

/*작은 화면*/
@media all and (max-width: 499px){ 
    * {
        visibility: hidden;
    }
	
	html {
		background-image: none;
	}
	
    .small-screen-content {
        margin: 0px;
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*인터넷 익스플로러*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    * {
        visibility: hidden;
    }
	
	html {
		background-image: none;
    }

    .ie-content {
        margin: 0px;
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}